In [6]:
print("Hello World !")

Hello World !

In [5]:
#
#  変数
#
a = 100
print(a)

100

In [8]:
b = "Hello Python"
print(b)

Hello Python

In [2]:
#
# データ型
#
int_a = 10  # 整数
int_b = -123  # 負の整数
real_c = 3.1  # 実数

int_a * int_a

100

In [12]:
int_a * real_c

31.0

In [13]:
int_b / int_a

-12.3

In [4]:
int_b // int_a

-13

In [17]:
#
# 型変換
#
str(int_a)

'10'

In [19]:
float(int_b)

-123.0

In [22]:
int_str = '123'
int(int_str)

123

In [27]:
#
#  文字列
#
"Hello"

'Hello'

In [29]:
'World'

'World'

In [1]:
"It's a wonderful world"

"It's a wonderful world"

In [2]:
#
#  文字列操作
#
str1 = "Hello Python!"

# スライス [start:end:step]
str1[:]

'Hello Python!'

In [5]:
# 1文字目から3文字目まで
str1[0:3]

'Hel'

In [8]:
# 1文字目から13文字目まで1文字おき
str1[0:13:2]

'HloPto!'

In [10]:
# 1文字目から終わりから2文字目まで
str1[0:-2]

'Hello Pytho'

In [12]:
# 文字数
len(str1)

13

In [15]:
# 文字列分割
str1.split(' ')

['Hello', 'Python!']

In [18]:
# 文字列結合　リスト
str_list = ['This','is','Python!']
' '.join(str_list)

'This is Python!'

In [7]:
# 文字列置換
str1.replace('Hello','Goodbye')

'Goodbye Python!'

In [13]:
#
#  リスト（配列）
#   ブラケット[ ]を使う
a = [1,"Hello",0.5,'a']
print(a)

[1, 'Hello', 0.5, 'a']

In [16]:
# リスト要素へのアクセス
print(a[1])

Hello

In [18]:
# リスト要素へのアクセス
print(a[2:4])

[0.5, 'a']

In [22]:
# リスト型に変換
b = list('cat')
print(b)

['c', 'a', 't']

In [2]:
# リストのリスト
list1 = ['alpha','beta','gamma']
list2 = ['赤','青','黄']
list3 = ['New York','Paris','London']
list_a = [list1, list2, list3]
print(list_a)
print(list_a[1][2])

[['alpha', 'beta', 'gamma'], ['赤', '青', '黄'], ['New York', 'Paris', 'London']]
黄

In [3]:
# リストのスライス
list_b = ['東京','大阪','名古屋','神戸','横浜']
print(list_b[1:3])

['大阪', '名古屋']

In [33]:
# リストのステップ
print(list_b[0:5:2])

['東京', '名古屋', '横浜']

In [34]:
# リストの逆順テクニック
print(list_b[::-1])

['横浜', '神戸', '名古屋', '大阪', '東京']

In [48]:
# リスト追加
list1.append('theta')
print(list1)

['alpha', 'beta', 'gamma', 'theta']

In [4]:
# リストをまとめる
list3.extend(list_b)
print(list3)

['New York', 'Paris', 'London', '東京', '大阪', '名古屋', '神戸', '横浜']

In [52]:
# リストの位置を指定して追加
list1 = ['alpha','beta','gamma']
list1.insert(2,'epsilon')
print(list1)

['alpha', 'beta', 'epsilon', 'gamma']

In [54]:
# インデックス指定のリスト要素削除
del list1[2]
print(list1)

['alpha', 'beta']

In [56]:
# 値を指定してリスト要素削除
list1 = ['alpha','beta','gamma']
list1.remove('gamma')
print(list1)

['alpha', 'beta']

In [59]:
# リストから要素を取り出し削除
list1 = ['alpha','beta','gamma']
print(list1.pop())
print(list1)

gamma
['alpha', 'beta']

In [61]:
# joinによるリストから文字列への変換
list1 = ['alpha','beta','gamma']
",".join(list1)

'alpha,beta,gamma'

In [64]:
# 並べ替え
list1 = ['beta','gamma','alpha']
print(sorted(list1))

['alpha', 'beta', 'gamma']

In [2]:
# 並べ替え
list1 = ['beta','gamma','alpha']
list1.sort()
print(list1)

['alpha', 'beta', 'gamma']

In [4]:
# 長さ
list1 = ['beta','gamma','alpha']
len(list1)

3

In [4]:
# リストのコピー(参照)
n = [1,2,3,4,5]
n_ref = n
print(n_ref)
n[0] = 'あれ？'
print(n)
print(n_ref)

[1, 2, 3, 4, 5]
['あれ？', 2, 3, 4, 5]
['あれ？', 2, 3, 4, 5]

In [6]:
# リストのコピー（実体）
n = [1,2,3,4,5]
n_cp = n.copy()
print(n_cp)
n[0] = 'OK'
print(n_cp)
print(n)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['OK', 2, 3, 4, 5]

In [9]:
#
# タプル
# イミュータブル 同じデータタイプ
#　丸括弧( )を使う
#
city=('東京','大阪','名古屋')
print(city)

('東京', '大阪', '名古屋')

In [12]:
#
# 辞書　（連想配列、ハッシュ）
# 「キー:値」の形を持つ型
# 中括弧 { }を使う
#
book = {
    "夏目漱石": "吾輩はねこである",
    "芥川龍之介": "羅生門",
    "森鴎外": "高瀬舟"
}
print(book["芥川龍之介"])

羅生門

In [13]:
# 辞書の追加、変更
book["宮沢賢治"] = "銀河鉄道の夜"
print(book)
book["夏目漱石"] = "こころ"
print(book)

{'夏目漱石': '吾輩はねこである', '芥川龍之介': '羅生門', '森鴎外': '高瀬舟', '宮沢賢治': '銀河鉄道の夜'}
{'夏目漱石': 'こころ', '芥川龍之介': '羅生門', '森鴎外': '高瀬舟', '宮沢賢治': '銀河鉄道の夜'}

In [14]:
# 辞書の結合
another_book = {
    "村上春樹": "ノルウェイの森",
    "太宰治": "人間失格"
}
book.update(another_book)
print(book)

{'夏目漱石': 'こころ', '芥川龍之介': '羅生門', '森鴎外': '高瀬舟', '宮沢賢治': '銀河鉄道の夜', '村上春樹': 'ノルウェイの森', '太宰治': '人間失格'}

In [15]:
# 辞書の要素の削除
del book['森鴎外']
print(book)

{'夏目漱石': 'こころ', '芥川龍之介': '羅生門', '宮沢賢治': '銀河鉄道の夜', '村上春樹': 'ノルウェイの森', '太宰治': '人間失格'}

In [18]:
# 辞書の全要素削除
book.clear()
print(book)

{}

In [21]:
# 辞書のキーを取得
book = {
    "夏目漱石": "吾輩はねこである",
    "芥川龍之介": "羅生門",
    "森鴎外": "高瀬舟"
}
print(book.keys())
print(list(book.keys()))

dict_keys(['夏目漱石', '芥川龍之介', '森鴎外'])
['夏目漱石', '芥川龍之介', '森鴎外']

In [23]:
# 辞書のコピー(参照)
ref_book = book
print(ref_book)
book["夏目漱石"] = "こころ"
print(ref_book)

{'夏目漱石': 'こころ', '芥川龍之介': '羅生門', '森鴎外': '高瀬舟'}
{'夏目漱石': 'こころ', '芥川龍之介': '羅生門', '森鴎外': '高瀬舟'}

In [25]:
# 辞書コピー（実体）
book = {
    "夏目漱石": "吾輩はねこである",
    "芥川龍之介": "羅生門",
    "森鴎外": "高瀬舟"
}
cp_book = book.copy()
print(cp_book)
book["夏目漱石"] = "こころ"
print(cp_book)

{'夏目漱石': '吾輩はねこである', '芥川龍之介': '羅生門', '森鴎外': '高瀬舟'}
{'夏目漱石': '吾輩はねこである', '芥川龍之介': '羅生門', '森鴎外': '高瀬舟'}

In [27]:
#
# 集合
#  順番を持たないデータの集まり
# 
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [7]:
# 他のデータ型から集合への変換
set_char = set('Hello')
print(set_char)
set_array = set(['Tokyo','Osaka','Nagoya','Hakata'])
print(set_array)
set_dict = set({1:'blue',2:'red',3:'yellow'})
print(set_dict)

{'H', 'l', 'o', 'e'}
{'Nagoya', 'Tokyo', 'Hakata', 'Osaka'}
{1, 2, 3}

In [9]:
# 集合演算
# 積集合
set1 = {1, 3, 5, 7}
set2 = {2, 3, 7}
set3 = {1, 2, 3, 5, 7, 9, 10}
print(set1 & set2)
# set1.instersect(set2)

{3, 7}

In [33]:
# 和集合
print(set1 | set2)
# set1.union(set2)

{1, 2, 3, 5, 7}

In [35]:
# 差集合
print(set1 - set2)
# set1.difference(set2)

{1, 5}

In [37]:
# 排他的論理和
print(set1 ^ set2)
# set1.symmetric_difference(set2)

{1, 2, 5}

In [10]:
# 部分集合
print(set1 <= set2)
# set1.issuset(set2)
print(set1 <= set3)

False
True

In [6]:
# 真部分集合
print(set1 < set3)

True

In [11]:
#
# 制御構造
#
# 条件分岐
#
color = 1
if color == 0:
    print("Red")
elif color == 1:
    print("Blue")
else:
    print("No Color")

Blue

In [3]:
#
#  論理演算子
#     and、or、not
#
age = 20
gender = 'male'
if age < 20 and gender == 'male':
    print("Boy")
elif age >= 20 and gender == 'male':
    print("Man")
elif age < 20 and gender == 'female':
    print("Girl")
elif age >= 20 and gender == 'female':
    print("Woman")

Man

In [3]:
#
# 繰り返し while
#
i = 5
while i > 0:
    print(i)
    i -= 1

5
4
3
2
1

In [12]:
#
# 繰り返し中止
#
while True:
    key_in = input("大文字小文字変換 [qで終了]: ")
    if key_in == "q":
        break
    print(key_in.capitalize())

大文字小文字変換 [qで終了]: a
A
大文字小文字変換 [qで終了]: b
B
大文字小文字変換 [qで終了]: q

In [1]:
#
# 繰り返し続行
#
while True:
    key_in = input("奇数の２乗[qで終了]: ")
    if key_in == "q":
        break
    num = int(key_in)
    if num%2 == 0:
        continue
    print(num*num)

奇数の２乗[qで終了]: 2
奇数の２乗[qで終了]: 3
9
奇数の２乗[qで終了]: 4
奇数の２乗[qで終了]: 5
25
奇数の２乗[qで終了]: q

In [9]:
#
# 繰り返しのbreakのチェック
#
countries = ["USA","France","UK","Japan","Germany"]
i = 0
while i < len(countries):
    if countries[i] == "Japan":
        print("Japan is found !")
        break
    print(countries[i])
    i += 1
else:
    print("Japan not found")

USA
France
UK
Japan is found !

In [10]:
#
#  繰り返し　リスト　for
#
for c in countries:
    print(c)

USA
France
UK
Japan
Germany

In [7]:
#
#　繰り返し　辞書　for
#
c_dicts = {1: 'USA', 2: 'Japan', 3:'France', 4: 'UK'}
for c in c_dicts.items():
    print(c)

(1, 'USA')
(2, 'Japan')
(3, 'France')
(4, 'UK')

In [9]:
#
#  zip()を使ったシーケンス処理
#    複数のリストを並列に処理する
#
areas = ['東京','大阪','名古屋','仙台']
foods = ['そば','たこ焼き','味噌カツ','牛タン']
drinks = ['ホッピー','日本酒','ワイン','ビール']
for area, food, drink in zip(areas, foods, drinks):
    print(area, food, drink)

東京 そば ホッピー
大阪 たこ焼き 日本酒
名古屋 味噌カツ ワイン
仙台 牛タン ビール

In [14]:
#
#  range()による数値シーケンス
#
print("0 to 5")
for x in range(0, 5):
    print(x)
print("\n10 to 20 step 2")
for y in range(10, 20, 2):
    print(y)

0 to 5
0
1
2
3
4

10 to 20 step 2
10
12
14
16
18

In [16]:
#
# 内包表記 リスト
#   [式 for 要素 in シーケンス]
n_list = [n for n in range(1,6)]
print(n_list)

[1, 2, 3, 4, 5]

In [19]:
#
# 内包表記　辞書
#  {キー:値 for 辞書要素 in 辞書}
#
areas = ['東京','大阪','名古屋','仙台']
foods = ['そば','たこ焼き','味噌カツ','牛タン']
f_dict = {key:value for key,value in zip(areas, foods)}
print(f_dict)

{'東京': 'そば', '大阪': 'たこ焼き', '名古屋': '味噌カツ', '仙台': '牛タン'}

In [21]:
#
# 関数
#
def greeting(name):
    return "Hello " + name + " !"

print(greeting("Python"))

Hello Python !

In [23]:
#
# 関数　位置引数
#
def area_food(tokyo, osaka, nagoya):
    return {'東京': tokyo ,'大阪':osaka ,'名古屋':nagoya }

print(area_food('そば','たこ焼き','味噌カツ'))

{'東京': 'そば', '大阪': 'たこ焼き', '名古屋': '味噌カツ'}

In [26]:
#
# 関数　キーワード引数
#　　仮引数を指定して値を渡す
print(area_food(nagoya='味噌カツ',tokyo='そば',osaka='たこ焼き'))

{'東京': 'そば', '大阪': 'たこ焼き', '名古屋': '味噌カツ'}

In [29]:
#
# 関数　デフォルト値の指定
#
def area_food(tokyo, nagoya, osaka="お好み焼き"):
    return {'東京': tokyo ,'大阪':osaka ,'名古屋':nagoya }

print(area_food('そば','味噌カツ'))

{'東京': 'そば', '大阪': 'お好み焼き', '名古屋': '味噌カツ'}

In [32]:
#
# 関数　可変長引数
#    複数個の引数をタプルで渡す
#
def print_args(*args):
    print(args)

print_args(1, 3, 'Hello', 'Thanks!')

(1, 3, 'Hello', 'Thanks!')

In [3]:
#
# 関数　可変長キーワード引数の辞書化
#  複数のキーワード引数を一つに辞書化して渡す
#
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(area='東京', food='そば', drink='ホッピー')

{'area': '東京', 'food': 'そば', 'drink': 'ホッピー'}

In [4]:
#
#  docstring
#    関数定義ドキュメント
#
def area_food(tokyo, nagoya, osaka="お好み焼き"):
    '''
    ご当地グルメ情報を返す。
    
    引数　tokyo, osaka, nagoya:  それぞれの地域の料理
    返却値: エリア：食べ物の辞書データ
    '''
    return {'東京': tokyo ,'大阪':osaka ,'名古屋':nagoya }

help(area_food)

Help on function area_food in module __main__:

area_food(tokyo, nagoya, osaka='お好み焼き')
    ご当地グルメ情報を返す。

    引数　tokyo, osaka, nagoya:  それぞれの地域の料理
    返却値: エリア：食べ物の辞書データ

In [5]:
#
# 関数を引数で渡す
#
def calc_square(num):
    print(num * num)

def do_func(f,arg):
    f(arg)

do_func(calc_square,4)

16

In [8]:
#
# 関数内関数
#
def out_f(a, b):
    def in_f(c, d):
        return c * d
    return in_f(a,b)

out_f(2, 5)

10

In [13]:
#
# クロージャー
#   他の関数に動的に生成される関数
#
def print_msg(msg):
    def inner():
        return "Hello " + msg
    return inner

# クロージャー生成
a = print_msg("Python")
b = print_msg("Ruby")

# クロージャー呼び出し
a()

'Hello Python'

In [15]:
# クロージャー呼び出し
b()

'Hello Ruby'

In [21]:
#
# 無名関数（ラムダ関数）
#   lambda 引数: 関数本体
#
def print_msg(msg, func):
    print(func(msg))

print_msg("Hello Python", lambda arg: arg.upper())

HELLO PYTHON

In [25]:
#
#  ジェネレータ
#    シーケンス全体をメモリーに格納せず処理
#  
def my_range(first=0, last=10, step=1):
    number = first
    while number < last:
        yield number
        number += step

for x in my_range(1, 5):
    print(x)

1
2
3
4

In [12]:
#
# デコレータ
#    関数本体を書き換えずに関数の振る舞いを変更する
#    @デコレータ名
#
def func_info(func):
    def new_function(*args, **kwargs):
        print('名前: ', func.__name__)
        print('引数: ', args)
        print('キーワード引数: ', kwargs)
        result = func(*args, **kwargs)
        print('リターン値: ', result)
        return result
    return new_function

@func_info
def add_num(a, b):
    return a + b

add_num(3, 8)

名前:  add_num
引数:  (3, 8)
キーワード引数:  {}
リターン値:  11

11

In [38]:
#
# 変数の名前空間とスコープ
#
animal = "bat"
def change_local():
    global animal
    print('animal changed from: ', animal)
    animal = 'wombat'
    print('animal changed to: ', animal)

change_local()

animal changed from:  bat
animal changed to:  wombat

In [43]:
#
# 例外処理
#   try, except
#
n_list = [1,2,3,4,5]
pos = 8
try:
    for i in range(0,pos):
        print(n_list[i])
except:
    print('Error: List position must be between 0 to ', len(n_list))

1
2
3
4
5
Error: List position must be between 0 to  5

In [ ]:
n_list = [1,2,3,4,5]
pos = input('Position? ')
try:
    for i in range(0,int(pos)):
        print(n_list[i])
except IndexError as err:
    print('IndexError: position = ', pos)
except Exception as other:
    print('Error: ', other)